.input:focus {
border: 0px solid #24526dda !important;
}
.active {
    border-bottom: 3px solid #000;
}
.active p{
    color: #000 !important;
}
.modal-footer{
    border-top: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
