.content{
    margin-top: 70px;
    padding-top: 30px;
    font-family: 'JosefinSans-Regular';
}
.title{
    text-align: center !important;
    font-size: 20px;
}
.title span{
    color: #000;
    text-decoration: underline !important;
}
.sides{
    /*gap: 35px;*/
    margin-top: 50px !important;
}
.left,
.right,
.main{
    border: 1px solid #e4e0e0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 0 !important;
    background-color: #fff;
    cursor: pointer;
}
.header{
    background-image: url('../../../assets/images/card-bg.svg');
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    position: relative;
    text-align: center;
    display: flex;

}
.photo{
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 40px;
}
.user{
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid #e4e1e1;
}
.user h5{
    text-transform: capitalize;
    font-weight: bold;
}
.add{
    color: #4f87cc;
}
.connect{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid #e4e1e1;
}
.connect__para{
    margin-bottom: 0 !important;
    color: #777;
}
.connect__img{
    width: 20px;
}
.items{
    padding: 20px;
    display: flex;
    align-items: center;
    color: #000;
}
.items img{
    width: 20px;
}
.second{
    margin-top: 10px;
}
.group{
    padding: 20px 20px 0 20px;
    margin-bottom: 0 !important;
}
.event{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0px 20px;
    color: #000;
    text-align: center;
    margin-bottom: 0 !important;
}
.event p{
    padding-top: 20px;
}
.follow{
    padding: 0 20px 0px 20px;
    margin-top: 0 !important;
}
.disc{
    color: #777;
}
.items:hover{
    background-color: rgba(207, 207, 207, 0.25);
   
}
.disc:hover{
color: #000;
cursor: pointer;
}
.group:hover,
.event p:hover,
.follow:hover{
color: #4f87cc;
}
.right__body{
    padding: 0 20px 20px 20px !important;
    display: flex;
    justify-content: space-between;
}
.right__body p{
    padding-top: 20px;
    font-weight: bold;
    font-size: 17px;
}
.hash{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0px 20px 20px 20px;
}
.hash__para{
    margin-bottom: 0 !important;
}
.hash__btn{
    border: 1px solid #777;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.hash__btn:hover{
    background-color:rgba(207, 207, 207, 0.25) ;
}
.recommand{
    color: #4f87cc;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.recommand p {
    padding-top: 10px;
}
.next{
    transition: all 800ms;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
}
.next:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
.post{
    display: flex;
    column-gap: 10px;
    padding: 20px !important ;
}
.userimg{
    width: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 0 !important;
}
.post__btn{
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1.5;
    min-height: 48px;
    background: transparent;
    border: 1px solid #e6e4e4;
    width: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: left !important;
    padding-left: 20px;
    font-weight: 800;
    color: #000;
}
.btns{
        outline: none;
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            line-height: 1.5;
            min-height: 48px;
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            column-gap: 10px;
}
.dot__btn,
.reacts{
        outline: none;
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            line-height: 1.5;
            min-height: 48px;
            background: transparent;
            border: none;
}
.social__btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social__img{
    width: 30px;
}
.social__para{
    font-size: 17px;
    color: #4f87cc;
}
.sec{
    margin-top: 10px;
}
.img{
    width: 60px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info__details{
    display: flex;
    align-items: center;
    padding: 20px;
    column-gap: 10px;
    padding-bottom: 15px !important;

}
.user__info{
    padding-top: 15px;
}
.user__info p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 15px;
}
.dot{
    width: 20px;
    margin-top: -80px;
}
.postimg{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}
.post__para{
    padding: 0 20px 0 20px !important;
    margin-bottom: 5px !important ;

}
.reacts span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;

}
.comments{
    text-decoration: none !important;
}
.width__img{
    width: 20px;
}
.reacts__icon{
    margin-right: 10px;
}
.reacts__icon span{
    color: #777;
}
.reacts__icon:hover span{
    color: #000;
}
.para{
    font-family: 'JosefinSans-Regular';
    font-weight: bold;
}
.input{
font-family: 'JosefinSans-Regular';
border: none !important;
}
.share__btn{
   font-family: 'JosefinSans-Regular' !important;
   background-color: #0a66c2 !important;
   color: #fff !important;
   border: 1px solid #e4e1e1 !important;
   border-radius: 50px !important;
   -webkit-border-radius: 50px !important;
   -moz-border-radius: 50px !important;
   -ms-border-radius: 50px !important;
   -o-border-radius: 50px !important;
}
.share__btn:hover{
background-color: #004182 !important;
}
.uploadimg{
    width: 100%;
}
.social__ved{
    width: 70px;
}
.select {
font-family: 'JosefinSans-Regular';
text-align: center;
font-size: 20px;
}
.select label{
    cursor: pointer !important;
}
.play{
margin: auto;
text-align: center;

}
.play input{
    width: 100% !important;
    font-family: 'JosefinSans-Regular';
    border: 1px solid #e4e1e1;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}